<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>
        var secPlaces = {{ sorted_json | safe }};
        sectionNames = Object.keys(secPlaces);
        forLimit = sectionNames.length;
        for (i = 0; i < forLimit; i++){
            document.write("<h1>" + sectionNames[i] + "</h1>");
            placeNames = secPlaces[sectionNames[i]];
            document.write("<ul>")
            for (x=0; x < placeNames.length; x++){
                document.write("<li>" + placeNames[x][0] + "<br/>");
            }
            document.write("</ul>")
        }
        document.write("Hello world");
    </script>
</body>
</html>