#map {
    height: 50vh;
    width: 100vw;
}

#sectionMap {
    height: 50vh;
    width: 100vw;
}

html, body {
    font-family: sans-serif;
}

/* Styles tab buttons at the top of the page */
.tabs {

    width: 50%;
/*
    height: 100px;
    margin-right: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
*/
    margin: 0 auto;
    background-color: white;

}

.tabs ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

.tabs ul li{
    padding: 5px;
    width: 10%;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    color: grey;
    border-radius: 5px;
}

.tabs ul li .fas{
    font-size: 36px;
    margin-top: 13px;
}

/*
.tabs ul li h4{
    font-size: 36px;
    margin-top: 13px;
}
*/

blogPostContentInput{
    height: 200px;
    width: 400px
}
.content{
    width: 100%;
}

#tab-one-content-box{
    width: 100%;
}

#tab-two-content-box{
    width: 100%;
}

#tab-three-content-box{
    width: 100%;
}

#tabs.#active{

}
.hide{
    display: none;
}
.active{
    display: block;
}
.tabs ul li.active{
    color: black;
    box-shadow: 1px 1px 2px 2px #888888;
    z-index: 10;
}